{
    "parser": "babel-eslint",
    "extends": "airbnb",
    "plugins": [
        "react",
        "jsx-a11y",
        "import",
        "react-native"
    ],
    "rules": {
        "no-underscore-dangle": 0,
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "class-methods-use-this": 0,
        "react/forbid-prop-types": 0,
        "react/no-did-mount-set-state": 0
    },
    "settings": {
        "import/resolver": {
            "node": {
                "extensions": [".js", ".android.js", ".ios.js"]
            }
        }
    },
    "globals": {
        "fetch": false
    }
}
